
<% @posts.each do |post| %>

  <% if current_user && current_user.votes.where(:post_id => post.id, :vote => true).present? %>
    <p>*
  <% else %>
    <%= link_to raw("<i class=\"icon-caret-up\"></i>"),
                votes_path(:vote => { :post_id => post.id,
                                      :vote => true }),
                           :method => :post %>
  <% end %>
  <% if current_user && current_user.votes.where(:post_id => post.id, :vote => false).present? %>
    *
  <% else %>
    <%= link_to raw("<i class=\"icon-caret-down\"></i>"),
                votes_path(:vote => { :post_id => post.id,
                                      :vote => false }),
                           :method => :post %>
  <% end %>

  <div class="post-container">
    <div class="post-title"><%= link_to post.title, post.url %></div>

    <div class="post-metadata">
      <p>
        <%= post.votes.where(:vote => true).count - post.votes.where(:vote => false).count%> points by <%= post.user.username %> <%= time_ago_in_words(post.created_at) %> ago | <% if post.comments.count == 0 %>
                <%= link_to 'discuss', post %>
              <% else %>
                <%= link_to "#{post.comments.count} comments", post %>
              <% end %>
      </p>
    </div>
  </div>

<% end %>