<%= render @post %>

<p><%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<!-- comment form -->
<%= render :partial => "comments/commentbox",
  :locals => { :post => @post, :comment => @comment } %>

<% if @comments %>
  <% indent_level = -1 %>
  <% @comments.each_with_index do |comment, x| %>
    <% if comment.indent_level > indent_level %>
      <ul class="comments comments<%= comment.indent_level %>">
    <% elsif comment.indent_level < indent_level %>
      <% (indent_level - comment.indent_level).times do %>
        </ul>
      <% end %>
    <% end %>

    <%= render :partial => "comments/comment", :locals => { :post => @post,
                                               :comment => comment } %>

    <% indent_level = comment.indent_level %>
  <% end %>
  <% indent_level.times do %>
    </ul>
  <% end %>
<% end %>