<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body>
  <%= render 'layouts/header' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>

  <%= render 'layouts/javascripts' %>

</body>
</html>
